{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">

    <h2>About Stock differences</h2>
    <p>The main goal of this project is to find out if it is possible to define a "distance" between stocks. A first attempt is shown in this app; the difference between daily first derivatives (open-close)/open is shwon as a 2D plot. The reference stock is 'APPL' and the plot includes daily data from 200 stocks in 2015.</p>

    </div>
  </main>
{% endblock %}